.table {
    border: solid black
}

.sidebar {
    transform: translateX(0);
    transition: transform 0.3s ease;
    position: fixed;
    width: 20%;
    height: 100vh;
    top: 40px;
    left: 0;
    background-color: #f8f9fa;
}

.sidebar.close {
    transform: translateX(-100%);
}

.sidebar1 {
    overflow: hidden;
}

#sidebutton {
    position: fixed;
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;
}